.campDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.mainImage {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-bottom: 20px;
}

.campInfo {
    width: 100%;
    max-width: 800px;
}

.sitesContainer {
    display: flex;
    justify-content: space-between;
}

.site {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.siteImage {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
}
