/* campBookPage.css */

body {
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    padding: 30px;
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .booking-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .form-group label {
    font-size: 1.2em;
    font-weight: 600;
    color: #444;
  }
  
  .form-group p {
    font-size: 1em;
    color: #666;
  }
  
  .personnel-selection {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .personnel-selection h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #444;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .personnel-selection label {
    font-size: 1.2em;
    color: #666;
  }
  
  .personnel-selection input {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .date-selection {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .date-selection h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #444;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .date-selection label {
    font-size: 1.2em;
    color: #666;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 40px auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  /* custom-datepicker.css */
  
  .custom-datepicker {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .custom-datepicker .red {
    background-color: #ffcccc !important;
  }
  
  .custom-datepicker .yellow {
    background-color: #ffffcc !important;
  }
  
  .react-datepicker__day--red, .react-datepicker__day--yellow {
    border-radius: 50%;
    color: white;
  }
  
  .react-datepicker__day--red {
    background-color: #ff6b6b;
  }
  
  .react-datepicker__day--yellow {
    background-color: #ffe66d;
  }
  